class Trk < Formula
  desc "Terminal tracker and music composition environment"
  homepage "https://github.com/delaudio/trk"
  version "@VERSION@"

  depends_on :macos

  on_macos do
    if Hardware::CPU.arm?
      url "@BASE_URL@/trk-#{version}-macos-arm64.tar.gz"
      sha256 "@ARM64_SHA256@"
    else
      url "@BASE_URL@/trk-#{version}-macos-x86_64.tar.gz"
      sha256 "@X86_64_SHA256@"
    end
  end

  def install
    bin.install "trk"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/trk --version")
    assert_match "Usage:", shell_output("#{bin}/trk --help")
  end
end
